<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}Recipe Book{% endblock %}</title>
        {% block styles %}{% endblock %}
    </head>
    <body>
        <h1>Recipe Book</h1>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Logout</button>
        </form>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>