{% extends 'base.html' %}
{% load static%}

{% block content%}
<a href="/recipe/{{ recipe.id }}/add_image">Add a new image for this recipe</a>
{% if recipe.image %}
{% for image in recipe.image.all%}
<img src="{{ image.image.url }}" alt="{{ image.description }}">
{% endfor %}
{% endif %}
<h3>{{ recipe.name }}</h3>
<p>Author: {{ recipe.author }}</p>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.ingredient.name }}, {{ ingredient.quantity }}</li>
        {% endfor %}
    </ul>
{% endblock %}